# Sets

* create a new empty set
* print that set

In [1]:
s = set()
print(s)

set()

* create a non empty set
* print that set

In [2]:
r = {'irrational'}
print(r)

{'irrational'}

* iterate over the set and print results

In [4]:
t = set('irrational')
print(t)

{'o', 'n', 'a', 'i', 't', 'l', 'r'}

* add one item to the set

In [5]:
r.add('q')
r

{'irrational', 'q'}

* add multiple items to the set

In [6]:
r|={'two', 15}
r|=t

In [7]:
r

{15, 'a', 'i', 'irrational', 'l', 'n', 'o', 'q', 'r', 't', 'two'}

* remove an item from a set if it is present in the set

In [8]:
t -= {'a'}
t

{'i', 'l', 'n', 'o', 'r', 't'}

* find maximum and minimum values of the set

In [9]:
num_set = {2, 4, 6, 3, 5, 7, 10}
max(num_set)

10

In [10]:
min(num_set)

2

* print the length of the set

In [11]:
len(num_set)

7

* create an intersection of x and y

In [12]:
x = set('numerals')
y = set('characters')
z = x&y
print(x,y,z)

{'n', 'm', 'a', 'u', 's', 'e', 'l', 'r'} {'a', 't', 's', 'e', 'r', 'h', 'c'} {'e', 'r', 'a', 's'}

* create an union of x and y

In [13]:
z2 = x|y
print(z2)

{'n', 'm', 'a', 'u', 's', 't', 'e', 'l', 'r', 'h', 'c'}

* create difference between x and y

In [14]:
z3 = x-y
print(z3)

{'n', 'u', 'l', 'm'}

# Collections

* for each word in sentence count occurence
* sentence : black cat jumped over white cat

In [16]:
from collections import Counter, defaultdict, deque, namedtuple, OrderedDict

In [17]:
snt = 'black cat jumped over white cat'
cnt = Counter(snt.split())
print(cnt)

Counter({'cat': 2, 'black': 1, 'jumped': 1, 'over': 1, 'white': 1})

* print the most common words

In [18]:
print(cnt.most_common(1))

[('cat', 2)]

* count the occurences of words in the same sentence but now use defaultdict

In [19]:
recount = defaultdict(int)
for word in snt.split():
    recount[word] +=1
print(recount)

defaultdict(<class 'int'>, {'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1})

* create deque from list set used in first exercise

In [20]:
print(z2)
d = deque(z2)
print(d)

{'n', 'm', 'a', 'u', 's', 't', 'e', 'l', 'r', 'h', 'c'}
deque(['n', 'm', 'a', 'u', 's', 't', 'e', 'l', 'r', 'h', 'c'])

* append number 10 to deque

In [21]:
d.append(10)
print(d)

deque(['n', 'm', 'a', 'u', 's', 't', 'e', 'l', 'r', 'h', 'c', 10])

* remove element from the right end from deque

In [22]:
d.pop()
print(d)

deque(['n', 'm', 'a', 'u', 's', 't', 'e', 'l', 'r', 'h', 'c'])

* remove element from the left end from deque

In [23]:
d.popleft()
print(d)

deque(['m', 'a', 'u', 's', 't', 'e', 'l', 'r', 'h', 'c'])

* delete all elements from deque

In [24]:
d.clear()
print(d)

deque([])

* create named tuple (people) with name and surname as position names

In [27]:
names = namedtuple('People', 'fname, lname')
p1 = names('John', 'Smith')
p1

People(fname='John', lname='Smith')

* print name and surname

In [28]:
print(p1.fname, p1.lname)

John Smith

# Exception handling
Now, let's go to **errors and exception handling**

* transform all strings from list to upper, if the element is not string don't transform it
* use try except block without use of 'if' statement

In [29]:
def capitalization(ls):
    for _ in range(len(ls)):
        try:
            ls[_] = ls[_].upper()
        except:
            pass
    return ls

In [31]:
a = {}
test_list = ['a', a, 'ced', 10, 'E', 15]

In [32]:
capitalization(test_list)

['A', {}, 'CED', 10, 'E', 15]

### We have the function created below:

Luke Skywalker has family and friends. Help him remind them who is who. Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [34]:
def relation_to_luke(text):
    _dict = []
    _dict["Darth Vader"] = "father"
    _dict["Leia"] = "sister"
    _dict["Ham"] = "brother in law"
    _dict["R2D2"] = "droid"
    print(f"Luke, I am your {+ _dict[text]}")

#### Task I
Fix errors in the function above so we can run following code

In [35]:
def relation_to_luke(text):
    try:
        _dict = OrderedDict()
        _dict["Darth Vader"] = "father"
        _dict["Leia"] = "sister"
        _dict["Han"] = "brother in law"
        _dict["R2D2"] = "droid"
        print(f"Luke, I am your {_dict[text]}.")
    except:
        print(f"{text} is not a relation with Luke.")

In [36]:
relation_to_luke("Darth Vader")
relation_to_luke("Leia")
relation_to_luke("Han")
relation_to_luke("R2D2")

Luke, I am your father.
Luke, I am your sister.
Luke, I am your brother in law.
Luke, I am your droid.

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

> #### Note
> We **cannot** use **if** statement for this

In [37]:
relation_to_luke("aaaaa")

aaaaa is not a relation with Luke.